.register-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-container {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 70px;
  width: 400px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #163430;
  font-family: serif;
}

.register-line {
  width: 95%;
  height: 1px;
  background-color: #2f7a71;
  margin: 10px auto 20px auto;
  border-radius: 1px;
}

.register-input {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 14px;
  text-align: center;
  font-family: serif;
}

.register-input::placeholder {
  font-family: serif;
}

.register-input:focus {
  border-color: #1f514b;
  outline: none;
  font-family: serif;
}

.register-button {
  width: 90%;
  padding: 10px;
  background-color: #2f7a71;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  font-family: serif;
}

.register-button:hover {
  background-color: #1f514b;
}

.register-link {
  display: block;
  margin-top: 15px;
  color: #163430;
  text-decoration: none;
  font-family: serif;
}

.register-link:hover {
  color: #1f514b;
}

.login-redirection {
  padding: 10px;
}
